In [1]:
import sqlite3

In [29]:
con = sqlite3.connect("tutorial.db")

In [32]:
con

### Create table

In [16]:
cur = con.cursor()
cur.execute("CREATE TABLE movie(title, year, score)")

OperationalError: table movie already exists

### sqlite_master is internal table displaying db's schema

In [9]:
res = cur.execute("SELECT * FROM sqlite_master")
res.fetchone()

('table', 'movie', 'movie', 2, 'CREATE TABLE movie(title, year, score)')

### Check if test exist within sqlite_master

In [19]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='table'")
res.fetchone() is None

True

### Insert values into 'movie' table

In [11]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

### Commit to db

In [12]:
con.commit()

### Select all score from movie

In [24]:
res = cur.execute("SELECT score FROM movie")
res.fetchall()
# res.fetchone()

[(8.2,),
 (7.5,),
 (7.9,),
 (7.5,),
 (8.0,),
 (7.9,),
 (7.5,),
 (8.0,),
 (7.9,),
 (7.5,),
 (8.0,)]

### Add data to db

In [23]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

### Print data in db

In [25]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1979, "Monty Python's Life of Brian")
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1982, 'Monty Python Live at the Hollywood Bowl')
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")
(1983, "Monty Python's The Meaning of Life")
(1983, "Monty Python's The Meaning of Life")

In [31]:
con.close()